:root {
    --primaryColor: #5498ac;
    --secondaryColor: #204ea3;
    --darkColor: rgb(105, 105, 105);
    --lightColor: rgb(245, 245, 245);
    --spacingOne: calc(1rem * 0.5);
    --spacingTwo: calc(1rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
